header {
    background-color: transparent;
    color: #fff;
    // justify-content: space-between;
    font-family: cereal-medium;

    
    .logo-container{
        font-family: cereal-medium;
        i{
            padding-right: 15px;
            
        }
    }
    
    .loggedin-user {
        background-color: $clr1;
        padding: 2px 8px;
        border-radius: 1em;
        align-self: flex-end;
        color: whitesmoke;
        span{
            background-color: $clr2;
            padding: 4px;
            margin: 10px;
            border-radius: 50%;
        }
    }

    .header-nav{
        align-items: center;
    }
    .header-nav>*:not(:last-child){
        margin-right: 20px;
    } 
    
    .login-btn{
        background-color: #fff;
        border-radius: 21px;
        border: 1px solid #ddd;
        padding: 7px 15px;
        gap: 5px;
        width: 83px;
        i:first-child{
            color: $clr2;
        }
        i:last-child{
            color: gray
        }
    }
    .user-container{
        position: relative;
        
    }
}

.header-container{
    padding-top: 20px;
}