.reviews-container{

    .stay-rate{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        font-family: cereal-medium;
        .reviews-amount{
            color: $clr2;
        }
        i{
            margin-right: 8px
        }
    }
    
    .user-reviews{
        margin-bottom: 5.5rem;
        .review-by{
            gap: 2rem;
            margin-bottom: 1.5rem;
        }
    }

    
    .user-reviews,
    .add-review-container{
        flex-wrap: wrap;
        button{
            font-family: 'cereal-bold';
        }

        article{
            width: 47%;
            margin-bottom: 40px;
        }
    }
    .add-review-container{
        h3{
            font-size: 1.5rem;
        }
        div.grid{

            grid-template-rows: 1fr;
            grid-template-columns: repeat(2, 1fr);
        }
        textarea{
            grid-column: 2;
            resize: none;
        }
        .stars-container{
            flex-wrap: wrap;
            article{
                height: fit-content;
                gap: 20px;
                h4{
                    margin: 0;
                    width: 150px;
                }       
                
            }   
        }
    }

    
}