.search-container{

    .react-datepicker__header{
        background-color: white;
    }
    
    .stay-filter{
        box-shadow: 0px 10px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
        background-color: #f7f7f7;
        color: $clr2;
        margin: 20px; 
        height: 66px; 
        width: fit-content;
        border-radius: 32px;
        padding-right: 20px;  

        label{
            font-family: cereal-medium;
        }

        &>div{
            height: 100%;
        }

        .location{
            padding-left: 30px;
            input:focus{
                background-color: transparent;
            }
        }
        div.date-picker {
            padding-left: 40px;
        }
        .tiny-border{
            border-right: 1px solid #ddd;
            border-radius: 0;
            width: 0px;
            padding: 0;
            flex: 0 0 0px;
            height: 32px;
            &:hover{
                background-color: #EBEBEB;
            }
        }

        
        &>*{
            border-radius: 32px;
            line-height: 20px;
            border-right: none;
            padding: 10px;
            cursor: pointer;
            margin: 0;

        }

        &>*:hover:not(:last-child),
        &:nth-child(2)>input:hover{
            background-color: #EBEBEB
        }

        .search-btn{
            background-size: 200% 200%;
            transition: opacity 1.25s ease 0s;
            background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
            border-radius: 50%;
            height: 50px;
            width: 50px;
            font-weight: 100;
        }

        input{
            border: none;
            background-color: transparent;
            outline: none;
            width: 100%;
            min-width: 100px;
            font-family: cereal-light;
            font-size: 0.8rem;
        }
        
        .guests{
            position: relative;
            padding-left: 40px;
            span{
                font-size: 0.8rem;
                color: #757575
            }
        }
        
    }
}
