.home {
    grid-column: 1/-1;
    .hero{
        height: 50vw;
        background-image: url(../../img/hero2.jpg);
        background-position: top;
        background-size:100%;
        background-repeat: no-repeat;
        .search-container{
            margin-bottom: 10vw;
        }
    }
    .main-header{
        // height: 90vh;
        justify-content: flex-start;
        flex-grow: 1;
    }
    .app-desc{
        // flex: 1;
        display: block;
        align-self: flex-end;
        margin-bottom: 13vw;
        color: #fff;
        span,
        a{
            background-color: #fff;
            line-height: 50px;
            padding: 11px;
            color: $clr2;
            border-radius: 10px;
            width: fit-content;
        }
        a{
            line-height: 3;
        }
    }
}