.trips-page{
    header{
        color: $clr2;
        padding-top: 20px;;
    }
    .logo-container{
        color: $clr1
    }
    h2{
        padding: 20px 0;
    }
    .orders-container{
        margin: 30px 0 20px 0;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 15px;

        article{
            color: $clr2;
            background-color: $clr6;
            border-radius: 12px;
            box-shadow: 0px 6px 16px #0000001f;
            height: 100%;
            overflow: hidden;
            z-index: 0;

            img{
                width: 100%;
            }

            &:hover{
                box-shadow: 0px 6px 20px #00000033;
                cursor: pointer;
            }
            .order-details{
                margin: 24px 0;
 
                .description{
                padding: 0px 24px;
                margin-top: 20px;
                gap: 20px;

                // & > * {
                //     margin-left: 10px;
                //     }
                }

                .dates,
                .country{
                    margin-top: 4px 0 6px 0;
                    padding: 10px 24px;
                    text-transform: capitalize;

                }
                .dates{
                    padding: 0px 24px;
                    color: $clr3,

                }

                .img-container{
                    // margin-right: 16px;
                    // width: 100px;
                    width: 70px;
                    height: 70px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}