@font-face {
    font-family: circular;
    src: url(../../fonts/Circular/CircularStd-Medium.ttf);
}
@font-face {
    font-family: circular-bold;
    src: url(../../fonts/Circular/CircularStd-Bold.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-thin;
    src: url(../../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: cereal-light ;
    src: url('../../fonts/Airbnb-Cereal/AirbnbCerealLight.ttf');
}
@font-face {
    font-family: cereal-medium ;
    src: url('../../fonts/Airbnb-Cereal/AirbnbCerealMedium.ttf');
}
@font-face {
    font-family: cereal-bold ;
    src: url('../../fonts/Airbnb-Cereal/AirbnbCerealBold.ttf');
}