// Colors
$clr1: #FF385C ;
$clr2: #222;
$clr3: #717171;
$clr4: #d90865;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1280px;
// $wide-breakpoint: 1280px;

